# Machine Learning Internship:

## Bhupinder Singh Gill

### Question: Explain dimension reduction in machine learning.

- Dimensionality reduction is a feature selection technique using which we reduce the number of features to be used for making a model without losing a significant amount of information compared to the original dataset. In other words, a dimensionality reduction technique projects a data of higher dimension to a lower-dimensional subspace.

- Dimensionality reduction shall be used before feeding the data to a machine learning algorithm to achieve the following:

* It reduces the size of the space in which the distances are calculated, thereby improving machine learning algorithm performance.
* It reduces the degrees of freedom for our dataset avoiding chances of overfitting
* Reducing the dimensionality using dimensionality reduction techniques can simplify the dataset facilitating a better description, visualisation, and insight.

### Principal Component Analysis:

- The principal component analysis is an unsupervised machine learning algorithm used for feature selection using dimensionality reduction techniques.PCA transforms and fits the data from a higher-dimensional space to a new, lower-dimensional subspace This results into an entirely new coordinate system of the points where the first axis corresponds to the first principal component that explains the most variance in the data.
- Principal components are the derived features which explain the maximum variance in the data. The first principal component explains the most variance, the 2nd a bit less and so on. Each of the new dimensions found using PCA is a linear combination of the old features.

### Question: How can you handle duplicate values in a dataset for a variable in Python using pandas?

In [1]:
import pandas as pd
import numpy as np

In [2]:
array={'col1':[1,2,3,4,5,1,1,2],'col2':[0,1,2,3,4,5,6,7]}
dataset=pd.DataFrame(array)

In [3]:
dataset.head(8)

   col1  col2
0     1     0
1     2     1
2     3     2
3     4     3
4     5     4
5     1     5
6     1     6
7     2     7

In [4]:
# removing the values in col 1 which are repeated 

dataset.drop_duplicates(subset='col1',inplace=True)

In [5]:
dataset.head()

   col1  col2
0     1     0
1     2     1
2     3     2
3     4     3
4     5     4